.App {
    display: flex;
    position: relative;
    height: 750px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(aquamarine, white)
}
.imagem {
    position: absolute;
    width: 100%;
    max-width: 200px;
    bottom: 25%;
}
.nome {
    top: 15%;
    position: absolute;
}

.botaoAntes {
    bottom: 15%;
    position: absolute;

}

.botaoDepois {
    bottom: 10%;
    position: absolute;

}
